-- USE [master]
-- GO
/****** Object:  Database [TRACNGHIEM]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE DATABASE [TRACNGHIEM]
--  CONTAINMENT = NONE
--  ON  PRIMARY 
-- ( NAME = N'TRACNGHIEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER0\MSSQL\DATA\TRACNGHIEM.mdf' , SIZE = 34816KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
--  LOG ON 
-- ( NAME = N'TRACNGHIEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER0\MSSQL\DATA\TRACNGHIEM_log.ldf' , SIZE = 3164032KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET COMPATIBILITY_LEVEL = 120
-- GO
-- IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
-- begin
-- EXEC [TRACNGHIEM].[dbo].[sp_fulltext_database] @action = 'enable'
-- end
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET ANSI_NULL_DEFAULT OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET ANSI_NULLS OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET ANSI_PADDING OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET ANSI_WARNINGS OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET ARITHABORT OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET AUTO_CLOSE OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET AUTO_SHRINK OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET AUTO_UPDATE_STATISTICS ON 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET CURSOR_CLOSE_ON_COMMIT OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET CURSOR_DEFAULT  GLOBAL 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET CONCAT_NULL_YIELDS_NULL OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET NUMERIC_ROUNDABORT OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET QUOTED_IDENTIFIER OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET RECURSIVE_TRIGGERS OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET  DISABLE_BROKER 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET DATE_CORRELATION_OPTIMIZATION OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET TRUSTWORTHY OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET ALLOW_SNAPSHOT_ISOLATION OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET PARAMETERIZATION SIMPLE 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET READ_COMMITTED_SNAPSHOT OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET HONOR_BROKER_PRIORITY OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET RECOVERY FULL 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET  MULTI_USER 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET PAGE_VERIFY CHECKSUM  
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET DB_CHAINING OFF 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET TARGET_RECOVERY_TIME = 0 SECONDS 
-- GO
-- ALTER DATABASE [TRACNGHIEM] SET DELAYED_DURABILITY = DISABLED 
-- GO
-- EXEC sys.sp_db_vardecimal_storage_format N'TRACNGHIEM', N'ON'
-- GO
-- /****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
-- GO
-- /****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
-- GO
-- /****** Object:  Login [NT SERVICE\SQLAgent$SERVER0]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [NT SERVICE\SQLAgent$SERVER0] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
-- GO
-- /****** Object:  Login [NT SERVICE\ReportServer$SERVER0]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [NT SERVICE\ReportServer$SERVER0] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
-- GO
-- /****** Object:  Login [NT Service\MSSQL$SERVER0]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [NT Service\MSSQL$SERVER0] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
-- GO
-- /****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
-- GO
-- /****** Object:  Login [leo-PC\leo]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [leo-PC\leo] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
-- GO
-- /* For security reasons the login is created disabled and with a random password. */
-- /****** Object:  Login [distributor_admin]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [distributor_admin] WITH PASSWORD=N'g16PdWx1u0ugXLIJOVNUHE36CXTW9ufCQOOIgWLpAtM=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
-- GO
-- ALTER LOGIN [distributor_admin] DISABLE
-- GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [AA]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [AA] WITH PASSWORD=N'heoLleC7vP4TppKQfwdWKE4ki0RkutvbtkFraGr4Hcc=', DEFAULT_DATABASE=[TRACNGHIEM], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
-- GO
-- ALTER LOGIN [AA] DISABLE
-- GO
-- /* For security reasons the login is created disabled and with a random password. */
-- /****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'uopAIBwYrI03HX8b8V+eLUusA0PXBL/j1278ONrOTFU=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
-- GO
-- ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
-- GO
-- /* For security reasons the login is created disabled and with a random password. */
-- /****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'7rVJnO8CoCuE8ZY6ZxbuMAFOe4phMBjyPil3GRhyBJ4=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
-- GO
-- ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
-- GO
-- ALTER AUTHORIZATION ON DATABASE::[TRACNGHIEM] TO [sa]
-- GO
-- ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
-- GO
-- ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
-- GO
-- ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLAgent$SERVER0]
-- GO
-- ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SERVER0]
-- GO
-- ALTER SERVER ROLE [sysadmin] ADD MEMBER [leo-PC\leo]
-- GO
-- ALTER SERVER ROLE [sysadmin] ADD MEMBER [distributor_admin]
-- GO
USE [TRACNGHIEM]
GO
-- /****** Object:  User [AA]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE USER [AA] FOR LOGIN [AA] WITH DEFAULT_SCHEMA=[dbo]
-- GO
-- /****** Object:  DatabaseRole [Truong]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE ROLE [Truong]
-- GO
-- /****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE ROLE [MSmerge_PAL_role]
-- GO
-- /****** Object:  DatabaseRole [MSmerge_FF2F8AEAF2E24B8E872F24FD488DBA1F]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE ROLE [MSmerge_FF2F8AEAF2E24B8E872F24FD488DBA1F]
-- GO
-- /****** Object:  DatabaseRole [MSmerge_F0CDE517A6E346B8AA09C5EC3A8D5C31]    Script Date: 12/30/2016 2:08:11 PM ******/
-- CREATE ROLE [MSmerge_F0CDE517A6E346B8AA09C5EC3A8D5C31]
-- GO
-- ALTER AUTHORIZATION ON ROLE::[Truong] TO [dbo]
-- GO
-- ALTER AUTHORIZATION ON ROLE::[MSmerge_PAL_role] TO [dbo]
-- GO
-- ALTER AUTHORIZATION ON ROLE::[MSmerge_FF2F8AEAF2E24B8E872F24FD488DBA1F] TO [dbo]
-- GO
-- ALTER AUTHORIZATION ON ROLE::[MSmerge_F0CDE517A6E346B8AA09C5EC3A8D5C31] TO [dbo]
-- GO
-- ALTER ROLE [Truong] ADD MEMBER [AA]
-- GO
-- ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_FF2F8AEAF2E24B8E872F24FD488DBA1F]
-- GO
-- ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_F0CDE517A6E346B8AA09C5EC3A8D5C31]
-- GO
-- GRANT CONNECT TO [AA] AS [dbo]
-- GO
-- /****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE SCHEMA [MSmerge_PAL_role] AUTHORIZATION [MSmerge_PAL_role]
-- GO
/****** Object:  Table [dbo].[BAITHI]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAITHI](
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[CAUHOI] [smallint] NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAPAN] [char](1) NULL,
	[CHON] [char](1) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_8E21EE1162474D64B93F713EE17DADE4]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_BAITHI_1] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC,
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[BAITHI] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[BAITHI] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[BAITHI] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[BAITHI] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [datetime] NULL,
	[DIEM] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F64E103BB89047159CE4E4FA0619A866]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[BANGDIEM] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[BANGDIEM] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[BANGDIEM] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[BANGDIEM] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[BODE]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MAMH] [char](5) NULL,
	[TRINHDO] [char](1) NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAP_AN] [char](1) NULL,
	[MAGV] [char](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_75B85657F0A946B0826610B68595099F]  DEFAULT (newsequentialid()),
	[MACS] [nchar](3) NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[BODE] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[BODE] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[BODE] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[BODE] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[COSO]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](3) NOT NULL,
	[TENCS] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_556B4975785E46E9A310F8AFDACCBF6A]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- ALTER AUTHORIZATION ON [dbo].[COSO] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[COSO] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[COSO] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[COSO] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](8) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](40) NULL,
	[HOCVI] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_CCF764F62A3D498EA31E5896A74EDFCD]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[GIAOVIEN] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[GIAOVIEN] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[GIAOVIEN] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[GIAOVIEN] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[GIAOVIEN_DANGKY]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DANGKY](
	[MAGV] [char](8) NULL,
	[MAMH] [char](5) NOT NULL,
	[MALOP] [char](8) NOT NULL,
	[TRINHDO] [char](1) NULL,
	[NGAYTHI] [datetime] NULL,
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NULL,
	[THOIGIAN] [smallint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_2A2948C9624A4F41952F0E95428EFC2C]  DEFAULT (newsequentialid()),
	[SOCAUCOSO] [smallint] NULL,
 CONSTRAINT [PK_GIAOVIEN_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOP] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[GIAOVIEN_DANGKY] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[GIAOVIEN_DANGKY] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[GIAOVIEN_DANGKY] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[GIAOVIEN_DANGKY] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[MACS] [nchar](3) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F4E01E22BE534787BAEEB745B1AEDC04]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- ALTER AUTHORIZATION ON [dbo].[KHOA] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[KHOA] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[KHOA] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[KHOA] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](40) NOT NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_C6D930496C48449B875583DAEEE58095]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[LOP] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[LOP] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[LOP] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[LOP] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](5) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_81245E2EAF974F32B8258B8298A6366C]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TENMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[MONHOC] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[MONHOC] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[MONHOC] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[MONHOC] TO [Truong] AS [dbo]
-- GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](8) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](40) NULL,
	[MALOP] [char](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_324DD8B8D12D4A09987530C7DDCE5172]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

-- GO
-- SET ANSI_PADDING OFF
-- GO
-- ALTER AUTHORIZATION ON [dbo].[SINHVIEN] TO  SCHEMA OWNER 
-- GO
-- GRANT DELETE ON [dbo].[SINHVIEN] TO [Truong] AS [dbo]
-- GO
-- GRANT INSERT ON [dbo].[SINHVIEN] TO [Truong] AS [dbo]
-- GO
-- GRANT SELECT ON [dbo].[SINHVIEN] TO [Truong] AS [dbo]
GO
INSERT [dbo].[BAITHI] ([MASV], [MAMH], [LAN], [CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAPAN], [CHON], [rowguid]) VALUES (N'001     ', N'AVCB ', 1, 0, N'Making advance arrangements for audiovisual equipment is....... recommended for all seminars.', N'sternly', N'strongly', N'strikingly', N'stringently', N'A', N'A', N'02063253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[BAITHI] ([MASV], [MAMH], [LAN], [CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAPAN], [CHON], [rowguid]) VALUES (N'001     ', N'AVCB ', 1, 1, N'Mr.Gonzales was very concerned.........the upcoming board of directors meeting', N'to', N'upon', N'about', N'at ', N'C', N'A', N'03063253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[BAITHI] ([MASV], [MAMH], [LAN], [CAUHOI], [NOIDUNG], [A], [B], [C], [D], [DAPAN], [CHON], [rowguid]) VALUES (N'001     ', N'AVCB ', 1, 2, N'Two assistants will be required to ...... reporter''s names when they arrive at the press conference', N'remark', N'ensure', N'check', N'notify', N'C', N'A', N'04063253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [rowguid]) VALUES (N'001     ', N'AVCB ', 1, CAST(N'2016-12-05 00:00:00.000' AS DateTime), 0.5, N'16063253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [rowguid]) VALUES (N'005     ', N'AVCB ', 1, CAST(N'2016-12-31 00:00:00.000' AS DateTime), 3, N'6969ab60-48ce-e611-ad08-74e543f06939')
INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [rowguid]) VALUES (N'006     ', N'AVCB ', 1, CAST(N'2016-12-31 00:00:00.000' AS DateTime), 2, N'dc2b54b7-c1cd-e611-a96a-74e543f06939')
SET IDENTITY_INSERT [dbo].[BODE] ON 

INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid], [MACS]) VALUES (1, N'MMTCB', N'A', N'mạng máy tính(compute netword) so với hệ thống tập trung multi-user', N'dễ phát triển hệ thống', N'tăng độ tin cậy', N'tiết kiệm chi phí', N'tất cả đều đúng', N'D', N'TH657   ', N'6e54c477-f8ca-e611-ac48-005056c00008', N'CS1')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid], [MACS]) VALUES (3, N'MMTCB', N'A', N'để một máy tính truyền dữ liệu cho một số máy khác trong mạng, ta dùng loại địa chỉ', N'Broadcast', N'Broadband', N'multicast', N'multiple access', N'C', N'TH123   ', N'6f54c477-f8ca-e611-ac48-005056c00008', N'CS1')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid], [MACS]) VALUES (4, N'MMTCB', N'A', N'thứ tự phân loại mạng theo chiều dài đường truyền', N'internet, lan, man, wan', N'internet, wan, man, lan', N'lan, wan, man, internet', N'man, lan, wan, internet', N'B', N'TH123   ', N'7054c477-f8ca-e611-ac48-005056c00008', N'CS1')
GO
SET IDENTITY_INSERT [dbo].[BODE] OFF
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI], [rowguid]) VALUES (N'CS1', N'CO SO 1 ', N'11 Nguyễn Đình Chiểu Phường Đakao Q1', N'ff043253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI], [rowguid]) VALUES (N'CS2', N'CO SO 2', N'Số 9 Man Thiện , quận 9', N'00053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [HOCVI], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH101   ', N'KIEU DAC', N'THIEN', N'thạc sĩ', N'9,3A, Q.BINH TAN', N'CNTT    ', N'7656a9d8-ddcb-e611-9d6e-005056c00008')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [HOCVI], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH123   ', N'PHAN VAN ', N'HAI', N'thạc sĩ', N'15/72 LE VAN THO F8 GO VAP', N'CNTT    ', N'7756a9d8-ddcb-e611-9d6e-005056c00008')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [HOCVI], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH234   ', N'DAO VAN ', N'TUYET', N'thạc sĩ', N'14/7 BUI DINH TUY TAN BINH', N'CNTT    ', N'7856a9d8-ddcb-e611-9d6e-005056c00008')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid], [SOCAUCOSO]) VALUES (N'TH123   ', N'AVCB ', N'TH04    ', N'A', CAST(N'2016-12-05 00:00:00.000' AS DateTime), 1, 20, 40, N'17063253-3cc7-e611-821c-74e543f06939', 20)
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid], [SOCAUCOSO]) VALUES (N'TH101   ', N'AVCB ', N'TH05    ', N'A', CAST(N'2016-12-31 00:00:00.000' AS DateTime), 1, 20, 20, N'4bcc1117-96cd-e611-954c-74e543f06939', 20)
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid], [SOCAUCOSO]) VALUES (N'TH101   ', N'AVCB ', N'TH05    ', N'A', CAST(N'2017-01-01 00:00:00.000' AS DateTime), 2, 20, 20, N'fb13ad19-97cd-e611-954c-74e543f06939', NULL)
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'AA      ', N'AA 1', N'CS2', N'dba9df64-46cb-e611-941e-005056c00008')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'CNTT    ', N'Công nghệ thông tin', N'CS1', N'09053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'VT      ', N'Viễn thông', N'CS2', N'0a053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'TH04    ', N'TIN HOC 2004', N'CNTT    ', N'12053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'TH05    ', N'TIN HOC 2005', N'CNTT    ', N'13053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'TH06    ', N'TIN HOC 2006', N'CNTT    ', N'14053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'AVCB ', N'ANH VAN CAN BAN', N'01053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL ', N'CO SO DU LIEU', N'02053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CTDL ', N'CAU TRUC DU LIEU', N'03053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [rowguid]) VALUES (N'001     ', N'LE VAN ', N'THANH', CAST(N'1985-03-06 00:00:00.000' AS DateTime), N'23/5 PHUNG KHAC KHOAN F3 Q3', N'TH04    ', N'17053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [rowguid]) VALUES (N'002     ', N'DAO TRONG', N'KHAI', CAST(N'1979-08-19 00:00:00.000' AS DateTime), N'15/72 LE VAN THO F8 GOVAP', N'TH04    ', N'18053253-3cc7-e611-821c-74e543f06939')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [rowguid]) VALUES (N'003     ', N'CAO TUAN', N'KHA', CAST(N'1985-12-06 00:00:00.000' AS DateTime), N'12/5 LE QUANG DINH F5 GO VAP', N'TH04    ', N'19053253-3cc7-e611-821c-74e543f06939')
/****** Object:  Index [MSmerge_index_617209399]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_617209399] ON [dbo].[BAITHI]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- /****** Object:  Index [MSmerge_index_549576996]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_549576996] ON [dbo].[BANGDIEM]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- /****** Object:  Index [MSmerge_index_265208145]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_265208145] ON [dbo].[BODE]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- /****** Object:  Index [MSmerge_index_325576198]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_325576198] ON [dbo].[COSO]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- /****** Object:  Index [MSmerge_index_293576084]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_293576084] ON [dbo].[GIAOVIEN]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- /****** Object:  Index [MSmerge_index_501576825]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_501576825] ON [dbo].[GIAOVIEN_DANGKY]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- /****** Object:  Index [MSmerge_index_389576426]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_389576426] ON [dbo].[KHOA]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- SET ANSI_PADDING ON

-- GO
-- /****** Object:  Index [UN_TENLOP]    Script Date: 12/30/2016 2:08:12 PM ******/
-- ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UN_TENLOP] UNIQUE NONCLUSTERED 
-- (
-- 	[TENLOP] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- /****** Object:  Index [MSmerge_index_421576540]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_421576540] ON [dbo].[LOP]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- SET ANSI_PADDING ON

-- GO
/****** Object:  Index [UN_TENMH]    Script Date: 12/30/2016 2:08:12 PM ******/
-- ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [UN_TENMH] UNIQUE NONCLUSTERED 
-- (
-- 	[TENMH] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
-- SET ANSI_PADDING ON

-- GO
/****** Object:  Index [IX_MONHOC]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE NONCLUSTERED INDEX [IX_MONHOC] ON [dbo].[MONHOC]
-- (
-- 	[MAMH] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[MONHOC]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
/****** Object:  Index [MSmerge_index_469576711]    Script Date: 12/30/2016 2:08:12 PM ******/
-- CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_469576711] ON [dbo].[SINHVIEN]
-- (
-- 	[rowguid] ASC
-- )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
-- GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_MONHOC]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_SINHVIEN]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH CHECK ADD  CONSTRAINT [FK_BODE_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_GIAOVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH CHECK ADD  CONSTRAINT [FK_BODE_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_COSO] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_KHOA_COSO]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [CK_BAITHI_CHON] CHECK  (([CHON]='A' OR [CHON]='B' OR [CHON]='C' OR [CHON]='D' OR [CHON]=' '))
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [CK_BAITHI_CHON]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [CK_BAITHI_DAPAN] CHECK  (([DAPAN]='D' OR [DAPAN]='C' OR [DAPAN]='B' OR [DAPAN]='A'))
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [CK_BAITHI_DAPAN]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [CK_BAITHI_LAN] CHECK  (([LAN]>(0) AND [LAN]<(3)))
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [CK_BAITHI_LAN]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_LANTHI] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_LANTHI]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK  (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK  (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_18E531A0_902B_4A06_8181_843ED9300D2C] CHECK NOT FOR REPLICATION (([CAUHOI]>(225) AND [CAUHOI]<=(1225) OR [CAUHOI]>(1225) AND [CAUHOI]<=(2225)))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [repl_identity_range_18E531A0_902B_4A06_8181_843ED9300D2C]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIAOVIEN] CHECK  (([HOCVI]=N'thạc sĩ' OR [HOCVI]=N'tiến sĩ'))
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [CK_GIAOVIEN]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [CK_HOGV] CHECK  (([HO] like '%[a-z ]%'))
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [CK_HOGV]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [CK_TENGV] CHECK  (([TEN] like '%[a-z ]%'))
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [CK_TENGV]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_LAN] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_SOCAUTHI] CHECK  (([SOCAUTHI]>=(10) AND [SOCAUTHI]<=(100)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK  (([THOIGIAN]>=(15) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK  (([TRINHDO]='C' OR ([TRINHDO]='B' OR [TRINHDO]='A')))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_TRINHDO]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_HOSV] CHECK  (([HO] like '%[a-z ]%'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_HOSV]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_TENSV] CHECK  (([TEN] like '%[a-z ]%'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_TENSV]
GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhap]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DangNhap] 
	-- Add the parameters for the stored procedure here
	@login nvarchar(40)
AS
BEGIN
	SET NOCOUNT ON
	declare @role nvarchar(20)
	declare @tenuser nvarchar(50)
	set @tenuser = (SELECT NAME FROM sys.sysusers WHERE sid = SUSER_SID(@login))
	if @tenuser IS NOT NULL
	begin
		SELECT @role = NAME FROM sys.sysusers 
		WHERE UID = (
					SELECT GROUPUID 
					FROM SYS.SYSMEMBERS 
					WHERE MEMBERUID = ( SELECT UID FROM sys.sysusers WHERE NAME=@tenuser )
					)
		if(@role='Giangvien')
		begin
			declare @makh char(8)
			declare @hoTen nvarchar(51)
			select @makh=MAKH,@hoTen=CONCAT(ho,' ',ten) from GIAOVIEN where MAGV = @login
			select MAKH as "Don vi",TENKH as "Ten Don vi",@hoTen as "Ho ten",
			'giao vien' as "Role", MACS as "ma chi nhanh" from KHOA where MAKH=@makh
		end
		if(@role='CS1' or @role = 'CS2') 
		begin
			select  MACS as "Don vi",TENCS as "Ten Don vi",'' as "Ho ten",'nhan vien' as "Role",  MACS as "ma chi nhanh" from COSO
		end
	end
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_DangNhap] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhapSV]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DangNhapSV]
	-- Add the parameters for the stored procedure here
	@masv char(8)
AS
BEGIN
	SET NOCOUNT ON;
	declare @malop char(8)
	declare @hoTen nvarchar(51)
	select @malop=malop,@hoTen=CONCAT(ho,' ',ten) from SINHVIEN where masv = @masv
	select malop,tenlop,@hoTen as "Ho ten" from LOP where malop=@malop
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_DangNhapSV] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhapTruong]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DangNhapTruong]
	-- Add the parameters for the stored procedure here
	@login nvarchar(40)
AS
BEGIN
	SET NOCOUNT ON
	declare @tenuser nvarchar(50)
	declare @role nvarchar(20)
	set @tenuser = (SELECT NAME FROM sys.sysusers WHERE sid = SUSER_SID(@login))
	if @tenuser IS NOT NULL
	begin
		SELECT @role = NAME FROM sys.sysusers 
		WHERE UID = (
					SELECT GROUPUID 
					FROM SYS.SYSMEMBERS 
					WHERE MEMBERUID = ( SELECT UID FROM sys.sysusers WHERE NAME=@tenuser )
					)
		if(@role='Truong')
		begin
			select 'Truong' as "Role"
			return 0
		end
	return 1
	end
	return 2
END


GO
-- ALTER AUTHORIZATION ON [dbo].[SP_DangNhapTruong] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_DangNhapTruong] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_DoiMatKhau]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DoiMatKhau]
	-- Add the parameters for the stored procedure here
	@oldpassword varchar(20), @newpassword varchar(20),@login char(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @ret smallint
	execute @ret=sp_password @oldpassword,@newpassword,@login
	return @ret
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_DoiMatKhau] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayBaiThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayBaiThi] @masv char(8), @mamh char(5),@lan smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
    -- Insert statements for procedure here
	declare @ngaythi datetime
	declare @thoigian smallint
	declare @socauthi smallint
	declare @diem float

	select @ngaythi=ngaythi,@thoigian=thoigian,@socauthi=socauthi from giaovien_dangky
	set @diem = (select DIEM from BANGDIEM where MASV=@masv and MAMH=@mamh and LAN=@lan)
	SELECT cauhoi,noidung,a,b,c,d,dapan,chon,
		@ngaythi as ngaythi,@thoigian as thoigian,@socauthi as socauthi,@diem as diem
	from baithi
	where masv=@masv and mamh=@mamh and lan=@lan
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayBaiThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayBaiThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayBangDiem]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayBangDiem]
	-- Add the parameters for the stored procedure here
	@malop char(8), @mamh char(5),@lan smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @tenlop nvarchar(20)
	declare @tenmonhoc nvarchar(40)
	
	set @tenlop=(select TENLOP from lop where @malop=MALOP)
	set @tenmonhoc=(select TENMH from monhoc where @mamh=MAMH)
	/*SELECT bangdiem.masv,ho,ten,ngaythi,diem,@tenlop as tenlop,@tenmonhoc as tenmonhoc
	from bangdiem 
	inner join sinhvien on bangdiem.masv=sinhvien.masv
	where malop=@malop and mamh=@mamh and lan=@lan*/
	select a.masv,ho,ten,ngaythi,diem,@tenlop as tenlop,@tenmonhoc as tenmonhoc
	from (
			( select masv,NGAYTHI,DIEM from BANGDIEM where mamh=@mamh and lan=@lan ) as a
			inner join
			( select MASV,HO,TEN from SINHVIEN where malop=@malop ) as b
			on a.MASV=b.MASV
		)
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayBangDiem] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayBangDiem] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayDe]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayDe]
	-- Add the parameters for the stored procedure here
	@magv char(8) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
    -- Insert statements for procedure here
	/*SELECT [CAUHOI] as "Câu hỏi",TENMH as "Môn học",[TRINHDO] as "Trình độ",
	[NOIDUNG] as "Nội dung",[A],[B],[C],[D],[DAP_AN] as "Đáp án"
	FROM [dbo].[BODE]
	inner join MONHOC on MONHOC.MAMH=BODE.MAMH
	WHERE MAGV=@magv*/
	if @magv is not null
	begin
	declare @hoten nvarchar(100)
	set @hoten = (select CONCAT(ho,' ',ten) as HOTEN from GIAOVIEN where MAGV=@magv)
	select [CAUHOI] as "Câu hỏi",TENMH as "Môn học",[TRINHDO] as "Trình độ",
		[NOIDUNG] as "Nội dung",[A],[B],[C],[D],[DAP_AN] as "Đáp án",@hoten as "Giáo viên"
	from (
			(select [CAUHOI],[TRINHDO],[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAMH from bode where MAGV=@magv) as a
			inner join
			(select MAMH,TENMH from MONHOC) as b
			on a.MAMH=b.MAMH
		)
	end
	else 
		select [CAUHOI] as "Câu hỏi",TENMH as "Môn học",[TRINHDO] as "Trình độ",
		[NOIDUNG] as "Nội dung",[A],[B],[C],[D],[DAP_AN] as "Đáp án",HOTEN as "Giáo viên"
	from (
			(select [CAUHOI],[TRINHDO],[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAMH,MAGV from bode) as a
			inner join
			(select MAMH,TENMH from MONHOC) as b
			on a.MAMH=b.MAMH
			inner join
			(select MAGV,CONCAT(ho,' ',ten) as HOTEN from GIAOVIEN) as c
			on c.MAGV=a.MAGV
		)
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayDe] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayDe] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayDeThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayDeThi]
	-- Add the parameters for the stored procedure here
	@mamh char(5), @trinhdo char, @socau smallint,@malop char(10)=null,@lan smallint =null
AS
BEGIN
	declare @n int,@m int
	if @malop is not null and @lan is not null
		set @n = (select SOCAUCOSO from GIAOVIEN_DANGKY where MAMH=@mamh and MALOP =@malop and LAN=@lan)
	if(@n is null)
		set @n = (select count(*) from BODE inner join GIAOVIEN on GIAOVIEN.MAGV=BODE.MAGV inner join KHOA on khoa.MAKH=GIAOVIEN.MAKH)

	if @n > @socau
		set @n=@socau
	set @m = @socau - @n
	if @malop is not null and @lan is not null
		update GIAOVIEN_DANGKY set SOCAUCOSO=@n where MAMH=@mamh and MALOP =@malop and LAN=@lan

	if(@trinhdo='A')
	begin
		SELECT [NOIDUNG],[A],[B],[C],[D],[DAP_AN] from (
		SELECT TOP (@n) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV from [TRACNGHIEM].[dbo].[BODE] where MAMH=@mamh) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		inner join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
		ORDER BY NEWID()
		UNION ALL
		SELECT TOP (@m) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV from [TRACNGHIEM].[dbo].[BODE] where MAMH=@mamh ) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		left join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
			WHERE kh.MAKH is null ORDER BY NEWID()
			) as a
	end 
	else if(@trinhdo ='B')
	begin
		SELECT [NOIDUNG],[A],[B],[C],[D],[DAP_AN] from (
		SELECT TOP (@n) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV,TRINHDO from [TRACNGHIEM].[dbo].[BODE] where MAMH=@mamh ) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		inner join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
		WHERE TRINHDO<>'A' ORDER BY NEWID()
		UNION ALL
		SELECT TOP (@m) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV,TRINHDO from [TRACNGHIEM].[dbo].[BODE] where MAMH=@mamh ) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		left join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
			WHERE kh.MAKH is null and TRINHDO<>'A'  ORDER BY NEWID()
			) as a
	end else 
	begin
		SELECT [NOIDUNG],[A],[B],[C],[D],[DAP_AN] from (
		SELECT TOP (@n) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV,TRINHDO from [TRACNGHIEM].[dbo].[BODE] where MAMH=@mamh) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		inner join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
		WHERE TRINHDO='C' ORDER BY NEWID()
		UNION ALL
		SELECT TOP (@m) [NOIDUNG],[A],[B],[C],[D],[DAP_AN],gv.MAGV 
		FROM 
			( select MAMH,[NOIDUNG],[A],[B],[C],[D],[DAP_AN],MAGV,TRINHDO from [TRACNGHIEM].[dbo].[BODE] where MAMH=@mamh) as bd
		inner join 
			(select MAGV,makh from GIAOVIEN ) as gv
				on gv.MAGV=bd.MAGV 
		left join 
			(select makh from KHOA) as kh
				on kh.MAKH=gv.MAKH 
			WHERE kh.MAKH is null and TRINHDO='C'  ORDER BY NEWID()
			) as a
	end
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayDeThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayDeThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayDeThiBackUp]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayDeThiBackUp]
	-- Add the parameters for the stored procedure here
	@mamh char(5), @trinhdo char, @socau smallint
AS
BEGIN
	declare @srv nvarchar(40),@m int,@a int, @b int

	DECLARE @temp TABLE
	(
	  TRINHDO char(1),
 	  NOIDUNG ntext,
	  A ntext,
 	  B ntext,
	  C ntext,
	  D ntext,
 	 DAP_AN char(1)
	)
		
	set @m = @socau

	if(@trinhdo='A')
	begin
		set @a= CONVERT(int,0.7*@m)
		INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) SELECT TOP (@a) TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM [TRACNGHIEM].[dbo].[BODE] WHERE MAMH=@mamh and TRINHDO ='A' ORDER BY NEWID()

		set @b= CONVERT(int,0.2*@m)
		INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) SELECT TOP (@b) TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM [TRACNGHIEM].[dbo].[BODE] WHERE MAMH=@mamh and TRINHDO ='B' ORDER BY NEWID()
	end
	else if(@trinhdo ='B')
	begin
		set @b= CONVERT(int,0.7*@m)
		INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) SELECT TOP (@b) TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM [TRACNGHIEM].[dbo].[BODE] WHERE MAMH=@mamh and TRINHDO ='B' ORDER BY NEWID()
	end

	set @m = @socau - (select count(*) from @temp)
	INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) SELECT TOP (@m) TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM [TRACNGHIEM].[dbo].[BODE] WHERE MAMH=@mamh and TRINHDO ='C' ORDER BY NEWID()

	set @m = @socau - (select count(*) from @temp)

	if @m > 0
	begin
		declare @sql_cmd nvarchar(max)
		declare srv_cursor cursor for select srvname from sys.sysservers where srvname like 'CS%'
		open srv_cursor
		fetch next from srv_cursor into @srv
		while @@FETCH_STATUS = 0 and @m > 0
		begin
			if(@trinhdo='A')
			begin
				set @a= CONVERT(int,0.7*@m)
				set @sql_cmd=N'SELECT TOP ('+CONVERT(varchar(3),@a)+') TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM '+@srv+'.TRACNGHIEM.[dbo].[BODE] WHERE MAMH='''+@mamh+''' and TRINHDO =''A'' ORDER BY NEWID()'
				INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) execute sp_executesql @sql_cmd

				set @b= CONVERT(int,0.2*@m)
				set @sql_cmd=N'SELECT TOP ('+CONVERT(varchar(3),@b)+') TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM '+@srv+'.TRACNGHIEM.[dbo].[BODE] WHERE MAMH='''+@mamh+''' and TRINHDO =''B'' ORDER BY NEWID()'
				INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) execute sp_executesql @sql_cmd
			end
			else if(@trinhdo ='B')
			begin
				set @b= CONVERT(int,0.7*@m)
				set @sql_cmd=N'SELECT TOP ('+CONVERT(varchar(3),@b)+') TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM '+@srv+'.TRACNGHIEM.[dbo].[BODE] WHERE MAMH='''+@mamh+''' and TRINHDO =''B'' ORDER BY NEWID()'
				print @sql_cmd
				INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) execute sp_executesql @sql_cmd
			end

			set @m = @socau - (select count(*) from @temp)

			set @sql_cmd=N'SELECT TOP ('+CONVERT(varchar(3),@m)+') TRINHDO,[NOIDUNG],[A],[B],[C],[D],[DAP_AN] FROM '+@srv+'.TRACNGHIEM.[dbo].[BODE] WHERE MAMH='''+@mamh+''' and TRINHDO =''C'' ORDER BY NEWID()'
			INSERT INTO @temp (TRINHDO,NOIDUNG,A,B,C,D,DAP_AN) execute sp_executesql @sql_cmd

			set @m = @socau - (select count(*) from @temp)

			fetch next from srv_cursor into @srv
		end
		close srv_cursor
		deallocate srv_cursor
	end
	select * FROM @temp
END


GO
/****** Object:  View [dbo].[v_phan_manh]    Script Date: 15-Aug-18 11:52:59 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[v_phan_manh]
AS
select distinct 'Truong' as NAME, pub.name as subscriber, s.publisher_db as subscriber_db
    from master.sys.servers pub
        join distribution.dbo.MSsubscriptions s
            on s.publisher_id = pub.server_id
union select distinct cs.TENCS as NAME, sub.name as subscriber, s.publisher_db as subscriber_db
    from master.sys.servers sub
		join [TRACNGHIEM].[dbo].[COSO] as cs
			on cs.MACS = RIGHT(sub.name, LEN(sub.name) - CHARINDEX('\', sub.name))
        join distribution.dbo.MSsubscriptions s
            on s.subscriber_id = sub.server_id;


GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayDeThiBackUp] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayDSCoSo]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayDSCoSo]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/*SELECT ten,datasource,INITCATALOG,[login],pwd,sp,sppwd,sv,svpwd
	from SERVER*/
	SELECT *
	 FROM [distribution].[dbo].[v_phan_manh]
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayDSCoSo] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayDSCoSo] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayGiaoVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayGiaoVien]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/*SELECT [MAGV] as "Mã giáo viên",[HO] as "Họ",[TEN] as "Tên",[HOCVI] as "Học vị"
	,[DIACHI] as "Địa chỉ",tenkh as "Tên khoa"
	from giaovien
	inner join khoa
	on giaovien.makh=khoa.makh*/
	select [MAGV] as "Mã giáo viên",[HO] as "Họ",[TEN] as "Tên",[HOCVI] as "Học vị"
		,[DIACHI] as "Địa chỉ",tenkh as "Tên khoa"
	from (
			(select [MAGV],[HO],[TEN],[HOCVI],[DIACHI],MAKH from giaovien) as a
			inner join
			(select MAKH,TENKH from khoa) as b
			on a.MAKH=b.MAKH
		)
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayGiaoVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayGiaoVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayKhoa]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayKhoa]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT makh as "Mã khoa",tenkh as "Tên khoa" from khoa
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayKhoa] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayKhoa] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayLichThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayLichThi]
	-- Add the parameters for the stored procedure here
	@ngaythi datetime,@masv char(8),@malop char(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	/*SELECT [MAGV] as "Mã giáo viên", MONHOC.MAMH as "Mã môn học",
		TENMH as "Tên môn học",[MALOP] as "Mã lớp",
		[TRINHDO] as "Trình độ",[NGAYTHI] as "Ngày thi",[LAN] as "Lần",
		[SOCAUTHI] as "Số câu thi",[THOIGIAN] as "Thời gian"
	FROM [dbo].[GIAOVIEN_DANGKY]
	INNER JOIN MONHOC ON MONHOC.MAMH=GIAOVIEN_DANGKY.MAMH
	WHERE MALOP = @malop and [NGAYTHI] = @ngaythi 
		and not exists (
						select MAMH from BAITHI
						where BAITHI.MAMH=MONHOC.MAMH and BAITHI.MASV=@masv AND BAITHI.LAN=GIAOVIEN_DANGKY.LAN
		)*/
	select [MAGV] as "Mã giáo viên", a.MAMH as "Mã môn học",
		TENMH as "Tên môn học",[MALOP] as "Mã lớp",
		[TRINHDO] as "Trình độ",[NGAYTHI] as "Ngày thi",b.[LAN] as "Lần",
		[SOCAUTHI] as "Số câu thi",[THOIGIAN] as "Thời gian" 
	from 
			(select MAMH,TENMH from MONHOC) as a
			inner join
			(select [MAGV],[TRINHDO],[NGAYTHI],[LAN],[SOCAUTHI],[THOIGIAN],MAMH,MALOP from GIAOVIEN_DANGKY 
				 WHERE MALOP = @malop and [NGAYTHI] = @ngaythi) as b
			on a.MAMH=b.MAMH
			left join 
			(
				select MAMH,LAN from BAITHI
				where BAITHI.MASV=@masv
			) as c
				on c.MAMH=a.MAMH and c.LAN=b.LAN 
			where c.mamh is null
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayLichThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayLichThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayLichThiGiangVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayLichThiGiangVien]
	-- Add the parameters for the stored procedure here
	@magv char(8) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		SET NOCOUNT ON;

    -- Insert statements for procedure here
		/*SELECT TENMH as "Môn học",tenlop as "Tên lớp",[TRINHDO] as "Trình độ",
		[NGAYTHI] as "Ngày thi",[LAN] as "Lần",[SOCAUTHI] as "Số câu",[THOIGIAN] as "Thời gian"
		FROM [dbo].[GIAOVIEN_DANGKY]
		inner join monhoc on monhoc.mamh=GIAOVIEN_DANGKY.MAMH
		inner join lop on lop.MALOP=GIAOVIEN_DANGKY.MALOP
		where MAGV=@magv*/
	if @magv is not null
	begin
	declare @hoten nvarchar(100)
	set @hoten = (select CONCAT(ho,' ',ten) as HOTEN from GIAOVIEN where MAGV=@magv)
	select TENMH as "Môn học",tenlop as "Tên lớp",[TRINHDO] as "Trình độ",
		[NGAYTHI] as "Ngày thi",[LAN] as "Lần",[SOCAUTHI] as "Số câu",[THOIGIAN] as "Thời gian",@hoten as "Giáo viên" from 
	(
		(select MALOP,TENLOP from lop) as a
		inner join
		(
			(select MAMH,TENMH from MONHOC) as b1
			inner join
			(select [TRINHDO],[NGAYTHI],[LAN],[SOCAUTHI],[THOIGIAN],MAMH,MALOP from GIAOVIEN_DANGKY where MAGV=@magv) as b2
			on b1.MAMH=b2.MAMH
		) 
	on a.MALOP=b2.MALOP
	)
	end
	else
	select TENMH as "Môn học",tenlop as "Tên lớp",[TRINHDO] as "Trình độ",
		[NGAYTHI] as "Ngày thi",[LAN] as "Lần",[SOCAUTHI] as "Số câu",[THOIGIAN] as "Thời gian",HOTEN as "Giáo viên"
		from 
	(
		(select MALOP,TENLOP from lop) as a
		inner join
		(
			(select MAMH,TENMH from MONHOC) as b1
			inner join
			(select [TRINHDO],[NGAYTHI],[LAN],[SOCAUTHI],[THOIGIAN],MAMH,MALOP,MAGV from GIAOVIEN_DANGKY) as b2
			on b1.MAMH=b2.MAMH
			inner join
			(select MAGV,CONCAT(ho,' ',ten) as HOTEN from GIAOVIEN) as c
			on c.MAGV=b2.MAGV
		) 
	on a.MALOP=b2.MALOP
	)
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayLichThiGiangVien] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayLop]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayLop]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/*SELECT malop as "Mã lớp",tenlop as "Tên lớp",tenkh as "Tên khoa"
	from lop
	inner join khoa
	on lop.makh = khoa.makh*/
	select malop as "Mã lớp",tenlop as "Tên lớp",tenkh as "Tên khoa"
	from (
			(select MALOP,TENLOP,MAKH from lop ) as a
			inner join
			(select MAKH,TENKH from khoa) as b
			on a.MAKH=b.MAKH
		)
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayLop] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayLop] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayLopDonGian]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayLopDonGian]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT malop,tenlop
	from lop
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayLopDonGian] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayLopDonGian] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayMatKhau]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayMatKhau]
	-- Add the parameters for the stored procedure here
	@login nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [sys].[fn_varbintohexstr](password_hash) as password_hash from sys.sql_logins where name = @login
END


GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayMatKhau] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayMatKhau] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LayMonHoc]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LayMonHoc]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT mamh as "Mã môn học",tenmh as "Tên môn học"
	from monhoc
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LayMonHoc] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LayMonHoc] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_LaySinhVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LaySinhVien]
	-- Add the parameters for the stored procedure here 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	/*SELECT [MASV] as "Mã sinh viên",[HO] as "Họ",[TEN] as "Tên",
	[NGAYSINH] as "Ngày sinh",[DIACHI] as "Địa chỉ",tenlop as "Tên lớp"
	from sinhvien
	inner join lop
	on sinhvien.malop=lop.malop*/
	select [MASV] as "Mã sinh viên",[HO] as "Họ",[TEN] as "Tên",
		[NGAYSINH] as "Ngày sinh",[DIACHI] as "Địa chỉ",tenlop as "Tên lớp"
	from (
			(select [MASV],[HO],[TEN],[NGAYSINH],[DIACHI],MALOP from sinhvien ) as a
			inner join
			(select MALOP,TENLOP from lop ) as b
			on a.MALOP=b.MALOP
		)
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_LaySinhVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_LaySinhVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_PhucHoiGiaoVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_PhucHoiGiaoVien]
	-- Add the parameters for the stored procedure here
	@magv char(8), @ho nvarchar(40), @ten nvarchar(40), @hocvi nvarchar(40),
	@diachi nvarchar(50), @makh nchar(8), @password varchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @sql_cmd nvarchar(max),@srv nvarchar(40),@exist smallint
	set @exist = 0
	declare srv_cursor cursor for select srvname from sys.sysservers where srvname like 'CS%'
		open srv_cursor
		fetch next from srv_cursor into @srv
		while @@FETCH_STATUS = 0
		begin
			set @sql_cmd=N'SELECT MAGV FROM ' + @srv+'.TRACNGHIEM.dbo.GIAOVIEN WHERE MAGV='''+@magv+''''
			execute sp_executesql @sql_cmd
			if @@ROWCOUNT > 0
			begin
				set @exist = 1
				break
			end
			fetch next from srv_cursor into @srv
		end
		close srv_cursor
		deallocate srv_cursor
		if @exist = 0
		begin
			declare @sql_cmd1 varchar(max)
			set @sql_cmd1='CREATE LOGIN '+@magv+' WITH PASSWORD = '+@password+' HASHED;'+
				' CREATE USER '+@magv+' FOR LOGIN '+@magv+' WITH DEFAULT_SCHEMA = TRACNGHIEM;'
			execute(@sql_cmd1)
			EXEC sp_addrolemember 'Giangvien', @magv
			insert into giaovien (magv,ho,ten,diachi,hocvi,makh) values (@magv,@ho,@ten,@diachi,@hocvi,@makh)
			return 0
		end
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_PhucHoiGiaoVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_PhucHoiGiaoVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaBaiThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaBaiThi]
	-- Add the parameters for the stored procedure here
	@masv char(8),@mamh char(5),@lan smallint,@cauhoi smallint,@noidung ntext,
	@a ntext,@b ntext,@c ntext,@d ntext,@dapap char,@chon char
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	UPDATE [dbo].[BAITHI]
	SET [NOIDUNG] = @noidung
      ,[A] = @a
      ,[B] = @b
      ,[C] = @c
      ,[D] = @d
      ,[DAPAN] = @dapap
      ,[CHON] = @chon
	WHERE [MASV] = @masv and [MAMH] = @mamh and [LAN] = @lan and [CAUHOI] = @cauhoi
	if @@ROWCOUNT > 0
		return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaBaiThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaBaiThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaDe]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaDe]
	-- Add the parameters for the stored procedure here
	@cauhoi int,@mamh char(5), @trinhdo char, @noidung ntext, @a ntext, @b ntext, @c ntext,
	@d ntext,@dapan char, @magv char(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	UPDATE [dbo].[BODE]
	SET [MAMH] = @mamh
      ,[TRINHDO] = @trinhdo
      ,[NOIDUNG] = @noidung
      ,[A] = @a
      ,[B] = @b
      ,[C] = @c
      ,[D] = @d
      ,[DAP_AN] = @dapan
      ,[MAGV] = @magv
	WHERE [CAUHOI]=@cauhoi

	if @@ROWCOUNT > 0
		return 0 
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaDe] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaDe] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaDiem]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaDiem]
	-- Add the parameters for the stored procedure here	
	@masv char(8),@mamh char(5),@lan smallint,@ngaythi datetime,@diem float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	UPDATE [dbo].[BANGDIEM]
	SET [DIEM] = @diem
	WHERE [MASV] = @masv and [MAMH] = @mamh and [LAN] = @lan

	if @@ROWCOUNT > 0
		return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaDiem] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaDiem] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaGiaoVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaGiaoVien]
	-- Add the parameters for the stored procedure here
	@magv char(8), @ho nvarchar(40), @ten nvarchar(40), @hocvi nvarchar(40),
	@diachi nvarchar(50), @makh nchar(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
			UPDATE [dbo].[GIAOVIEN] SET [HO] = @ho ,[TEN] = @ten ,[HOCVI] = @hocvi ,[DIACHI] = @diachi ,[MAKH] = @makh
				WHERE [MAGV] = @magv
			if @@ROWCOUNT > 0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaGiaoVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaGiaoVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaKhoa]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaKhoa]
	-- Add the parameters for the stored procedure here
	@makh nchar(8), @tenkh nvarchar(50), @macs nchar(3)
AS
BEGIN
			UPDATE [dbo].[KHOA] SET [TENKH] = @tenkh ,[MACS] = @macs
				WHERE makh=@makh
			if @@ROWCOUNT > 0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaKhoa] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaKhoa] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaLichThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaLichThi]
	-- Add the parameters for the stored procedure here
	@mamh char(5),@malop char(8), @lan smallint, @magv char(8), @trinhdo char, @ngaythi datetime,
	@socauthi smallint, @thoigian smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @socau int
		if(@trinhdo='A')
		begin 
			select @socau=count(*) from BODE where MAMH=@mamh 
			if @socau<@socauthi
				return 2
		end
		else if(@trinhdo='B')
		begin 
			select @socau=count(*) from BODE where MAMH=@mamh and (TRINHDO='B' or TRINHDO ='C')
			if @socau<@socauthi
				return 2
		end
		else if(@trinhdo='C')
		begin 
			select @socau=count(*) from BODE where MAMH=@mamh and TRINHDO ='C'
			if @socau<@socauthi
				return 2
		end
		if @lan = 2
		begin
			declare @ngaythilan1 datetime
			set @ngaythilan1=(select NGAYTHI from GIAOVIEN_DANGKY where MAMH=@mamh and MALOP=@malop and LAN=1)
			if @ngaythilan1 is not null and @ngaythilan1 > @ngaythi
				return 3
		end
		UPDATE [dbo].[GIAOVIEN_DANGKY]
		SET [MAGV] = @magv
		   ,[TRINHDO] = @trinhdo
		   ,[NGAYTHI] = @ngaythi
			  ,[SOCAUTHI] = @socauthi
		   ,[THOIGIAN] = @thoigian
		WHERE [MALOP] = @malop and [MAMH] = @mamh and [LAN] = @lan
		if @@ROWCOUNT >0
			return 0
		return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaLichThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaLichThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaLop]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaLop]
	-- Add the parameters for the stored procedure here
	@malop nchar(8), @tenlop nvarchar(50), @makh nchar(3)
AS
BEGIN
			UPDATE [dbo].[LOP] SET [TENLOP] = @tenlop ,[MAKH] = @makh WHERE [MALOP] = @malop
			if @@ROWCOUNT >0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaLop] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaLop] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaMonHoc]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaMonHoc]
	-- Add the parameters for the stored procedure here
	@mamh char(5), 
	@tenmh nvarchar(40)
AS
BEGIN
			UPDATE [dbo].[MONHOC] SET [MAMH] = @mamh,[TENMH] = @tenmh WHERE mamh=@mamh
			if @@ROWCOUNT > 0
				return 0
	 return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaMonHoc] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaMonHoc] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_SuaSinhVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SuaSinhVien]
	-- Add the parameters for the stored procedure here
	@masv char(8), @ho nvarchar(40), @ten nvarchar(10), 
	@ngaysinh nvarchar(40), @diachi nvarchar(40), @malop char(8)
AS
BEGIN
		UPDATE [dbo].[SINHVIEN] SET [HO] = @ho ,[TEN] = @ten ,[NGAYSINH] = @ngaysinh ,[DIACHI] = @diachi ,[MALOP] = @malop
			WHERE [MASV] = @masv
		if @@ROWCOUNT >0
			return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_SuaSinhVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_SuaSinhVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemBaiThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemBaiThi]
	-- Add the parameters for the stored procedure here
	@masv char(8),@mamh char(5),@lan smallint,@cauhoi smallint,@noidung ntext,
	@a ntext,@b ntext,@c ntext,@d ntext,@dapap char,@chon char
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	insert into baithi([MASV],[MAMH],[LAN],[CAUHOI],[NOIDUNG],[A],[B],[C],[D],[DAPAN],[CHON])
	values (@masv,@mamh,@lan,@cauhoi,@noidung,@a,@b,@c,@d,@dapap,@chon)
	if @@ROWCOUNT >0
		return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemBaiThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemBaiThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDe]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemDe]
	-- Add the parameters for the stored procedure here
	@mamh char(5), @trinhdo char, @noidung ntext, @a ntext, @b ntext, @c ntext, @d ntext,
	@dapan char, @magv char(8)
AS
BEGIN
		insert into bode (mamh,trinhdo,noidung,a,b,c,d,dap_an,magv) 
				values (@mamh,@trinhdo,@noidung,@a,@b,@c,@d,@dapan,@magv)
			if @@ROWCOUNT > 0
			return 0

	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemDe] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemDe] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDiem]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemDiem]
	-- Add the parameters for the stored procedure here
	@masv char(8),@mamh char(5),@lan smallint,@ngaythi datetime,@diem float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	insert into bangdiem([MASV],[MAMH],[LAN],[NGAYTHI],[DIEM]) values (@masv,@mamh,@lan,@ngaythi,@diem)
	if @@ROWCOUNT > 0
		return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemDiem] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemDiem] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDKThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemDKThi]
	-- Add the parameters for the stored procedure here
	@mamh char(5),@malop char(8), @lan smallint, @magv char(8), @trinhdo char, @ngaythi datetime,
	@socauthi smallint, @thoigian smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
			declare @socau int
			if(@trinhdo='A')
			begin 
				select @socau=count(*) from BODE where MAMH=@mamh 
				if @socau<@socauthi
					return 2
			end
			else if(@trinhdo='B')
			begin 
				select @socau=count(*) from BODE where MAMH=@mamh and TRINHDO <> 'A'
				if @socau<@socauthi
					return 2
			end
			else if(@trinhdo='C')
			begin 
				select @socau=count(*) from BODE where MAMH=@mamh and TRINHDO ='C'
				if @socau<@socauthi
					return 2
			end
			if @lan = 2
			begin
				declare @ngaythilan1 datetime
				set @ngaythilan1=(select NGAYTHI from GIAOVIEN_DANGKY where MAMH=@mamh and MALOP=@malop and LAN=1)
				/*if @lan = 2 and @ngaythilan1 is null 
					return 3*/
				if @ngaythilan1 is not null and @ngaythilan1 > @ngaythi  
					return 4 
			end
			insert into giaovien_dangky (mamh,malop,lan,magv,trinhdo,ngaythi,socauthi,thoigian) 
			values (@mamh,@malop,@lan,@magv,@trinhdo,@ngaythi,@socauthi,@thoigian)
			if @@ROWCOUNT > 0
			return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemDKThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemDKThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemGiaoVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemGiaoVien] @magv char(8), @ho nvarchar(40), @ten nvarchar(40), @hocvi nvarchar(40),
	@diachi nvarchar(50), @makh nchar(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @sql_cmd nvarchar(max),@srv nvarchar(40),@exist smallint
	set @exist = 0
	declare srv_cursor cursor for select srvname from sys.sysservers where srvname like 'CS%'
		open srv_cursor
		fetch next from srv_cursor into @srv
		while @@FETCH_STATUS = 0
		begin
			set @sql_cmd=N'SELECT magv FROM ' + @srv+'.TRACNGHIEM.dbo.giaovien WHERE magv='''+@magv+''''
			execute sp_executesql @sql_cmd
			if @@ROWCOUNT > 0
			begin
				set @exist = 1
				break
			end
			fetch next from srv_cursor into @srv
		end
		close srv_cursor
		deallocate srv_cursor
		if @exist = 0
		begin
			insert into giaovien (magv,ho,ten,diachi,hocvi,makh) values (@magv,@ho,@ten,@diachi,@hocvi,@makh)
			if @@ROWCOUNT > 0 
				return 0
		end
	return 1
END
GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemGiaoVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemGiaoVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemKhoa]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemKhoa] @makh nchar(8), @tenkh nvarchar(50), @macs nchar(3)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	declare @sql_cmd nvarchar(max),@srv nvarchar(40),@exist smallint
	set @exist = 0
	declare srv_cursor cursor for select srvname from sys.sysservers where srvname like 'CS%'
		open srv_cursor
		fetch next from srv_cursor into @srv
		while @@FETCH_STATUS = 0
		begin
			set @sql_cmd=N'SELECT makh FROM ' + @srv+'.TRACNGHIEM.dbo.khoa WHERE makh='''+@makh+''''
			execute sp_executesql @sql_cmd
			if @@ROWCOUNT > 0
			begin
				set @exist = 1
				break
			end
			fetch next from srv_cursor into @srv
		end
		close srv_cursor
		deallocate srv_cursor
		if @exist = 0
		begin
			insert into khoa (makh,tenkh,macs) values (@makh,@tenkh,@macs)
			if @@ROWCOUNT > 0
				return 0
		end
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemKhoa] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemKhoa] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemLop]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemLop]
	-- Add the parameters for the stored procedure here
	@malop nchar(8), @tenlop nvarchar(50), @makh nchar(3)
AS
BEGIN
	declare @sql_cmd nvarchar(max),@srv nvarchar(40),@exist smallint
	set @exist = 0
	declare srv_cursor cursor for select srvname from sys.sysservers where srvname like 'CS%'
		open srv_cursor
		fetch next from srv_cursor into @srv
		while @@FETCH_STATUS = 0
		begin
			set @sql_cmd=N'SELECT malop FROM ' + @srv+'.TRACNGHIEM.dbo.lop WHERE malop='''+@malop+''''
			execute sp_executesql @sql_cmd
			if @@ROWCOUNT > 0
			begin
				set @exist = 1
				break
			end
			fetch next from srv_cursor into @srv
		end
		close srv_cursor
		deallocate srv_cursor
		if @exist = 0
		begin
			insert into lop (malop,tenlop,makh) values (@malop,@tenlop,@makh)
			if @@ROWCOUNT > 0 
				return 0
		end
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemLop] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemLop] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemMonHoc]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemMonHoc]
	-- Add the parameters for the stored procedure here
	@mamh char(5), 
	@tenmh nvarchar(40)
AS
BEGIN
declare @sql_cmd nvarchar(max),@srv nvarchar(40),@exist smallint
	set @exist = 0
	declare srv_cursor cursor for select srvname from sys.sysservers where srvname like 'CS%'
		open srv_cursor
		fetch next from srv_cursor into @srv
		while @@FETCH_STATUS = 0
		begin
			set @sql_cmd=N'SELECT mamh FROM ' + @srv+'.TRACNGHIEM.dbo.monhoc WHERE mamh='''+@mamh+''''
			execute sp_executesql @sql_cmd
			if @@ROWCOUNT > 0
			begin
				set @exist = 1
				break
			end
			fetch next from srv_cursor into @srv
		end
		close srv_cursor
		deallocate srv_cursor
		if @exist = 0
		begin
			insert into monhoc (mamh,tenmh) values (@mamh,@tenmh)
			if @@ROWCOUNT > 0 
				return 0
		end
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemMonHoc] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemMonHoc] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemSinhVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemSinhVien]
	-- Add the parameters for the stored procedure here
	@masv char(8), @ho nvarchar(40), @ten nvarchar(10), 
	@ngaysinh nvarchar(40), @diachi nvarchar(40), @malop char(8)
AS
BEGIN
	declare @sql_cmd nvarchar(max),@srv nvarchar(40),@exist smallint
	set @exist = 0
	declare srv_cursor cursor for select srvname from sys.sysservers where srvname like 'CS%'
		open srv_cursor
		fetch next from srv_cursor into @srv
		while @@FETCH_STATUS = 0
		begin
			set @sql_cmd=N'SELECT masv FROM ' + @srv+'.TRACNGHIEM.dbo.sinhvien WHERE masv='''+@masv+''''
			execute sp_executesql @sql_cmd
			if @@ROWCOUNT > 0
			begin
				set @exist = 1
				break
			end
			fetch next from srv_cursor into @srv
		end
		close srv_cursor
		deallocate srv_cursor
		if @exist = 0
		begin
			insert into sinhvien (masv,ho,ten,ngaysinh,diachi,malop) values (@masv,@ho,@ten,@ngaysinh,@diachi,@malop)
			if @@ROWCOUNT > 0
				return 0
		end
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemSinhVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_ThemSinhVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemTaiKhoanCoSo]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemTaiKhoanCoSo]
	-- Add the parameters for the stored procedure here
	@login char(10), @password varchar(20),@coso char(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	if not exists(select * from sys.sql_logins where name=@login)
	begin
		declare @sql_cmd1 varchar(max)
		set @sql_cmd1='CREATE LOGIN '+@login+' WITH PASSWORD = '''+@password+''';'+
					' CREATE USER '+@login+' FOR LOGIN '+@login+' WITH DEFAULT_SCHEMA = TRACNGHIEM;'
		execute(@sql_cmd1)
		EXEC sp_addsrvrolemember @login, 'SecurityAdmin'
		EXEC sp_addrolemember @coso, @login
		
		set @sql_cmd1='GRANT ALTER ANY USER TO '+@login
		execute(@sql_cmd1)

		set @sql_cmd1='GRANT ALTER ANY ROLE TO '+@login
		execute(@sql_cmd1)
		return 0

		set @sql_cmd1='GRANT CONTROL SERVER TO '+@login
		execute(@sql_cmd1)
		return 0
	end
	return 1
END
GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemTaiKhoanCoSo] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemTaiKhoanGiaoVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ThemTaiKhoanGiaoVien]
	-- Add the parameters for the stored procedure here
	@login char(10), @password varchar(20),@coso char(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	if not exists(select * from sys.sql_logins where name=@login)
	begin
		declare @sql_cmd1 varchar(max)
		set @sql_cmd1='CREATE LOGIN '+@login+' WITH PASSWORD = ''123'';'+
						' CREATE USER '+@login+' FOR LOGIN '+@login+' WITH DEFAULT_SCHEMA = TRACNGHIEM;'
		execute(@sql_cmd1)
		EXEC sp_addrolemember 'Giangvien', @login
		return 0
	end
	return 1
END
GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemTaiKhoanGiaoVien] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_ThemTaiKhoanTruong]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- CREATE PROCEDURE [dbo].[SP_ThemTaiKhoanTruong]
-- 	-- Add the parameters for the stored procedure here
-- 	@login char(10), @password varchar(20)
-- AS
-- BEGIN
-- 	-- SET NOCOUNT ON added to prevent extra result sets from
-- 	-- interfering with SELECT statements.
-- 	if not exists(select * from TRUONG.TRACNGHIEM.sys.sql_logins where name=@login)
-- 	begin
-- 		BEGIN TRANSACTION
-- 			BEGIN TRY
-- 				declare @sql_cmd1 varchar(max)
-- 				set @sql_cmd1='CREATE LOGIN '+@login+' WITH PASSWORD = '''+@password+''';'+
-- 						' CREATE USER '+@login+' FOR LOGIN '+@login+' WITH DEFAULT_SCHEMA = TRACNGHIEM;'
-- 				execute(@sql_cmd1)
-- 				--EXEC sp_addsrvrolemember @login, 'Truong'
-- 				EXEC sp_addrolemember 'Truong', @login
-- 			END TRY
-- 			BEGIN CATCH
-- 				IF @@TRANCOUNT > 0
-- 				begin
-- 					ROLLBACK TRANSACTION
-- 					return 1
-- 				end
-- 			END CATCH

-- 			IF @@TRANCOUNT > 0
-- 			begin
-- 				COMMIT TRANSACTION
-- 				return 0
-- 			end
-- 		end
-- 	return 1
-- END
-- GO
-- ALTER AUTHORIZATION ON [dbo].[SP_ThemTaiKhoanTruong] TO  SCHEMA OWNER 
-- GO
/****** Object:  StoredProcedure [dbo].[SP_XoaDe]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XoaDe]
	-- Add the parameters for the stored procedure here
	@cauhoi int
AS
BEGIN
			DELETE FROM [dbo].[BODE] WHERE [CAUHOI]=@cauhoi
			if @@ROWCOUNT > 0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_XoaDe] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_XoaDe] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_XoaGiaoVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XoaGiaoVien]
	-- Add the parameters for the stored procedure here
	@magv char(8)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
			DELETE FROM [dbo].[GIAOVIEN] WHERE [MAGV] = @magv
			if @@ROWCOUNT = 0
				return 1
			EXEC SP_DROPUSER @magv
			EXEC SP_DROPLOGIN @magv
			return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_XoaGiaoVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_XoaGiaoVien] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_XoaKhoa]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XoaKhoa]
	-- Add the parameters for the stored procedure here
	@makh nchar(8)
AS
BEGIN
			DELETE FROM [dbo].[KHOA] WHERE makh=@makh
			if @@ROWCOUNT > 0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_XoaKhoa] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_XoaKhoa] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_XoaLichThi]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XoaLichThi]
	-- Add the parameters for the stored procedure here
	@mamh char(5),@malop char(8), @lan smallint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	/*if exists( select * from
			(select MASV from baithi where MAMH=@mamh and LAN=@lan) as a
			inner join
			(select MASV from sinhvien where MALOP=@malop) as b
			on a.MASV=b.MASV
			)
		return 2*/
	DELETE FROM [dbo].[GIAOVIEN_DANGKY] WHERE [MALOP] = @malop and [MAMH] = @mamh and [LAN] = @lan
	if @@ROWCOUNT > 0
		return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_XoaLichThi] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_XoaLichThi] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_XoaLop]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XoaLop]
	-- Add the parameters for the stored procedure here
	@malop nchar(8)
AS
BEGIN
			DELETE FROM [dbo].[LOP]  WHERE [MALOP] = @malop
			if @@ROWCOUNT > 0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_XoaLop] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_XoaLop] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_XoaMonHoc]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XoaMonHoc]
	-- Add the parameters for the stored procedure here
	@mamh char(5)
AS
BEGIN
			DELETE FROM [dbo].[MONHOC] WHERE mamh=@mamh
			if @@ROWCOUNT>0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_XoaMonHoc] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_XoaMonHoc] TO [Truong] AS [dbo]
-- GO
/****** Object:  StoredProcedure [dbo].[SP_XoaSinhVien]    Script Date: 12/30/2016 2:08:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XoaSinhVien]
	-- Add the parameters for the stored procedure here
	@masv char(8)
AS
BEGIN
			DELETE FROM [dbo].[SINHVIEN] WHERE [MASV] = @masv
			if @@ROWCOUNT > 0
				return 0
	return 1
END

GO
-- ALTER AUTHORIZATION ON [dbo].[SP_XoaSinhVien] TO  SCHEMA OWNER 
-- GO
-- GRANT EXECUTE ON [dbo].[SP_XoaSinhVien] TO [Truong] AS [dbo]
-- GO
USE [master]
GO
