<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ThiTracNghiem.ConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ThiTracNghiem.Properties.Settings.AdventureWorksConnectionString"
      connectionString="Data Source=LEO-PC\SERVER0;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="ThiTracNghiem.Properties.Settings.TRACNGHIEMConnectionString"
      connectionString="Data Source=LEO-PC\SERVER0;Initial Catalog=TRACNGHIEM;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="TRACNGHIEMConnectionString2" connectionString="XpoProvider=MSSqlServer;data source=LEO-PC\SERVER1;user id=sa;password=123;initial catalog=TRACNGHIEM;Persist Security Info=true" />
    <add name="ThiTracNghiem.Properties.Settings.distributionConnectionString"
      connectionString="Data Source=LEO-PC\SERVER0;Initial Catalog=distribution;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <ThiTracNghiem.ConnectionSettings>
      <setting name="DefaultCatalog" serializeAs="String">
        <value>TRACNGHIEM</value>
      </setting>
      <setting name="DefaultDatasource" serializeAs="String">
        <value>LEO-PC\SERVER0</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="pwd" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="support" serializeAs="String">
        <value>support</value>
      </setting>
      <setting name="sppwd" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="sinhvien" serializeAs="String">
        <value>sv</value>
      </setting>
      <setting name="svpwd" serializeAs="String">
        <value>123</value>
      </setting>
    </ThiTracNghiem.ConnectionSettings>
  </userSettings>
</configuration>